@import url('https://fonts.cdnfonts.com/css/google-sans');


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

input[type=submit]{
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
}
#banner{
    background-color: #0d6a1b; 
    padding-top: 150px;
    padding-bottom: 150px;
}
#banner h1{
    color: #fff;
    text-align: center;
}
#banner span{
    color: orange;
}
#banner p{
    color: #fff;
    text-align: center;
}
#banner .form{
    margin-top: 50px;
}
#banner input{
    width: 400px;
    border: none;
    border-radius: 40px 0px 0px 40px;
    padding: 15px;
}
#banner button{
    width: 100px;
    border: none;
    border-radius: 0px 40px 40px 0px;
    padding: 15px;
    background-color: orange;
}
#about {
    margin-top: 80px;
    margin-bottom: 80px;
}
#about span{
    color: #fff;
    font-size: 30px;
    margin-bottom: 10px;
    background-color: #0d6a1b;
    padding: 13px;
}
#about .box{
    padding: 20px;
    box-shadow: 3px 3px 31px -9px rgba(0,0,0,0.08);
}
#pricing h2{
    color:#fff;
}
#pricing{
    margin-top: 80px;
    background-color: #0d6a1b;
    padding-top: 50px;
    padding-bottom: 50px;
}
#pricing button{
    border: none;
    padding: 15px;
    color: #000;
    background-color: orange;
}
#pricing .card-header{
    background-color: #fff;
}
@media only screen and (max-width: 600px) {
    #banner input{
        width: 100%;
        border-radius: 40px;
    }
    #banner button{
        width: 50%;
        border-radius: 40px;
        margin-top: 30px;
    }
  }